article ul {
    list-style: none;
}

article li {
    line-height: 1.3;
}

article li::before {
    content: '•';
    padding-right: 10px;
}

img#picture_pi {
    max-width: 200px;
    height: auto;
    flex-shrink: 0;
}