:root {
    --primary: #054531;
    --accent: #E1E554;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #dbdfd1;
}

a {
    text-decoration: none;
    color: var(--accent);
}

#grid-container-home {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-rows: 200px 150px 1fr 150px;
    grid-template-areas:
        "header header header"
        "borderleft nav borderright"
        "borderleft main borderright"
        "footer footer footer";
    min-height: 100vh;
}

#start,
ul #eerstejaar,
ul #tweedejaar,
#pod {
    border-right: 3px solid var(--accent);
}

header {
    grid-area: header;
    background-image: url('https://wallpapers.com/images/featured/math-background-jbcyizvw0ckuvcro.jpg');
    background-repeat: repeat;
    background-size: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px 0 black;
}

#title {
    padding: 20px 0;
    font-size: 2.5em;
    color: var(--accent);
    text-shadow: 5px 5px black;
    letter-spacing: 8px;
    background-color: var(--primary);
    border-radius: 0 0 20px 20px;
    width: 1000px;
    border: 4px solid var(--accent);
}

nav {
    margin: 30px 0;
    grid-area: nav;
    background-color: var(--primary);
    text-align: center;
    align-self: center;
    border: 4px solid var(--accent);
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    font-family: 'Great Vibes', cursive;
    color: var(--accent);
    font-size: 1.5em;
    list-style: none;
    padding: 20px 0;
    background: linear-gradient(to top, var(--accent) 50%, transparent 50%);
    background-size: 100% 200%;
    transition: background-position 0.5s;
}

nav li:hover,
nav li.active {
    background-position: 0 100%;
    color: var(--primary);
}

article {
    border: 3px solid var(--primary);
    border-radius: 20px;
    background-color: var(--accent);
    padding: 25px;
    margin-bottom: 40px;
}

footer {
    background-color: var(--primary);
    border-top: 4px solid var(--accent);
    color: var(--accent);
}

#POD div {
    border: 3px solid var(--primary);
    border-radius: 20px;
}
