* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #dbdfd1;
}

a {
    text-decoration: none;
    color: #E1E554;
}

#grid-container-home {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-rows: 200px 150px 1fr 150px;
    grid-template-areas:
        "header header header"
        "borderleft nav borderright"
        "borderleft main borderright"
        "footer footer footer";
    min-height: 100vh;
}

#grid-container-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "start eerstejaar tweedejaar pod links";
    padding: none;
    margin: none;
}

#grid-container-footer {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-areas: "leftfooter middlefooter rightfooter";
}

#leftfooter {
    grid-area: leftfooter;
}

#middlefooter {
    grid-area: middlefooter;
}

#rightfooter {
    grid-area: rightfooter;
}

#start {
    grid-area: start;
    border-right: 3px solid #E1E554;
}

ul #eerstejaar {
    grid-area: eerstejaar;
    border-right: 3px solid #E1E554;
}

ul #tweedejaar {
    grid-area: tweedejaar;
    border-right: 3px solid #E1E554;
}

#pod {
    grid-area: pod;
    border-right: 3px solid #E1E554;
}

#links {
    grid-area: links;
}

header {
    grid-area: header;
    background-image: url('https://wallpapers.com/images/featured/math-background-jbcyizvw0ckuvcro.jpg');
    background-repeat: repeat;
    background-size: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px 0 black;
}

#title {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 0px;
    font-size: 2.5em;
    color: #E1E554;
    text-shadow: 5px 5px black;
    letter-spacing: 8px;
    background-color: #094531;
    border-radius: 0px 0px 20px 20px;
    width: 1000px;
    border: 4px solid #E1E554;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.782);
}

nav {
    margin: 30px 0px;
    grid-area: nav;
    background-color: #094531;
    text-align: center;
    align-self: center;
    border: 4px solid #E1E554;
}

nav ul {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav li {
    font-family: 'Great Vibes', cursive;
    text-shadow: 1px 1px black;
    color: #E1E554;
    font-size: 1.5em;
    list-style-type: none;
    overflow: hidden;
    padding: 20px 0px;
    position: relative;
    background: linear-gradient(to top, #E1E554 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    transition: color 0s, background-position 0.5s, background-size 0.5s;
}

nav li:hover {
    background-position: 0 100%;
    color: #094531;
    text-shadow: 1px 1px black;
}

nav li a {
    color: inherit;
    transition: color 0.3s;
}

nav li.active {
    color: #094531;
    text-shadow: 1px 1px black;
    background-color: #E1E554;
    /* Vult de volledige ruimte met kleur */
    background-size: 100% 100%;
    /* Zorgt ervoor dat de achtergrondkleur volledig zichtbaar is */
    background-position: 0 0;
    /* Zorgt ervoor dat de achtergrondkleur in de juiste positie staat */
    transition: none;
    /* Geen transitie-effecten voor het actieve element */
}

nav li:not(.active):hover {
    background-position: 0 100%;
    color: #094531;
}

main {
    grid-area: main;
}

article {
    border: 3px solid #094531;
    border-radius: 20px;
    background-color: #E1E554;
    padding: 25px;
    /* display: flex; */
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 40px;
    font-size: 18px;
}

p {
    flex: 1;
    line-height: 1.3;
}

p #meer-weten {
    font-size: 10px;
}

footer {
    grid-area: footer;
    background-color: #094531;
    border-top: 4px solid #E1E554;
    align-items: center;
    color: #E1E554;
}

footer #disclaimer {
    grid-area: content;
    position: relative;
    left: 0%;
    font-weight: bold;
}

footer #logo_school {
    grid-area: content;
    position: relative;
    height: auto;
    width: 250px;
    right: 0%;
}

#middlefooter {
    grid-area: middlefooter;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

ul {
    list-style: none;
}

#heuristieken li::before {
    content: '•';
    padding-right: 10px;
}

ol {
    margin-left: 15px;
    line-height: 1.3;
}

#POD {
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    gap: 50px;
}

#POD div {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    border: 3px solid #094531;
    border-radius: 20px;
    background-image: url('https://img.freepik.com/free-psd/cartoon-question-mark-isolated_23-2151568563.jpg?t=st=1723724659~exp=1723728259~hmac=abc846ab33dc26fe22d92445e4368465f3c6540d0db5db025bb62a84c837c40e&w=1380');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#POD a {
    color: black;
}